allow hal_camera_default camera_data_file:sock_file write;
allow hal_camera_default init:binder { call };
allow hal_camera_default init:unix_dgram_socket { sendto };
