allow init proc_boot_reason:file r_file_perms;
allow init bluetooth:binder { call };
allow init device:chr_file { ioctl };
allow init device:chr_file { open };
allow init device:chr_file { read write };
allow init hal_camera_default:fd { use };
allow init hal_graphics_allocator_default:fd { use };
allow init init:binder { call };
allow init init:capability2 { block_suspend };
allow init init:netlink_kobject_uevent_socket { read };
allow init init:netlink_route_socket { read };
allow init init:socket { read };
allow init init:socket { write };
allow init proc:file { write };
allow init radio:binder { call };
allow init sysfs_devices_system_cpu:file { write };
allow init sysfs:file { open };
allow init sysfs:file { write };
allow init sysfs_wake_lock:file { open };
allow init sysfs_wake_lock:file { write };
